{"openapi":"3.0.0","info":{"description":"\u672c\u5e73\u81fa\u63d0\u4f9b\u6ac3\u6aaf\u8cb7\u8ce3\u5e02\u5834\u8cc7\u6599\u670d\u52d9API\uff0c\u5305\u542b\u4e0a\u6ac3\u3001\u8208\u6ac3\u3001\u5275\u6ac3\u53ca\u50b5\u5238\u7b49\u767c\u884c\u53ca\u4ea4\u6613\u8cc7\u8a0a\uff0c\u6b61\u8fce\u5404\u4f4d\u4ecb\u63a5\u4f7f\u7528\u3002<br><br>[\u4f7f\u7528\u689d\u6b3e](https://www.tpex.org.tw/web/inc/gtsm_disclaimer.php?l=zh-tw)<br>[\u806f\u7d61\u7a97\u53e3](mailTo:apiteam@swagger.io)","version":"1.0.0","title":"\u8b49\u5238\u6ac3\u6aaf\u8cb7\u8ce3\u4e2d\u5fc3 OpenAPI"},"servers":[{"url":"https://www.tpex.org.tw/openapi/v1"}],"paths":{"/tpex_mainborad_highlight":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u5e02\u5834\u73fe\u6cc1","description":"\u4e0a\u6ac3\u80a1\u7968\u5e02\u5834\u73fe\u6cc1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_mainborad_highlight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_mainborad_highlight"}}}}}}},"/tpex_securities":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u73fe\u80a1\u7576\u6c96\u4ea4\u6613\u6a19\u7684\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u80a1\u7968\u73fe\u80a1\u7576\u6c96\u4ea4\u6613\u6a19\u7684\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_securities"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_securities"}}}}}}},"/tpex_spendi_today":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u7576\u65e5\u516c\u5e03\u66ab\u505c/\u6062\u5fa9\u4ea4\u6613\u80a1\u7968","description":"\u4e0a\u6ac3\u7576\u65e5\u516c\u5e03\u66ab\u505c/\u6062\u5fa9\u4ea4\u6613\u80a1\u7968","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_spendi_today"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_spendi_today"}}}}}}},"/tpex_spendi_history":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u516c\u5e03\u66ab\u505c/\u6062\u5fa9\u4ea4\u6613\u80a1\u7968","description":"\u4e0a\u6ac3\u6b77\u53f2\u516c\u5e03\u66ab\u505c/\u6062\u5fa9\u4ea4\u6613\u80a1\u7968","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_spendi_history"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_spendi_history"}}}}}}},"/tpex_mainboard_daily_close_quotes":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u884c\u60c5","description":"\u4e0a\u6ac3\u80a1\u7968\u884c\u60c5","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_mainboard_daily_close_quotes"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_mainboard_daily_close_quotes"}}}}}}},"/tpex_mainboard_quotes":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u6536\u76e4\u884c\u60c5","description":"\u4e0a\u6ac3\u80a1\u7968\u6536\u76e4\u884c\u60c5","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_mainboard_quotes"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_mainboard_quotes"}}}}}}},"/tpex_mainboard_peratio_analysis":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u500b\u80a1\u672c\u76ca\u6bd4\u3001\u6b96\u5229\u7387\u3001\u80a1\u50f9\u6de8\u503c\u6bd4","description":"\u4e0a\u6ac3\u80a1\u7968\u500b\u80a1\u672c\u76ca\u6bd4\u3001\u6b96\u5229\u7387\u3001\u80a1\u50f9\u6de8\u503c\u6bd4","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_mainboard_peratio_analysis"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_mainboard_peratio_analysis"}}}}}}},"/tpex_mainboard_margin_balance":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u878d\u8cc7\u878d\u5238\u9918\u984d","description":"\u4e0a\u6ac3\u80a1\u7968\u878d\u8cc7\u878d\u5238\u9918\u984d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_mainboard_margin_balance"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_mainboard_margin_balance"}}}}}}},"/tpex_index":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u6307\u6578\u6b77\u53f2\u8cc7\u6599","description":"\u6ac3\u8cb7\u6307\u6578\u6b77\u53f2\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_index"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_index"}}}}}}},"/tpex50_index":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u5bcc\u6ac350\u6307\u6578\u6b77\u53f2\u6536\u76e4\u6307\u6578","description":"\u5bcc\u6ac350\u6307\u6578\u6b77\u53f2\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex50_index"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex50_index"}}}}}}},"/tpex_intraday_trading_statistics":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u73fe\u80a1\u7576\u6c96\u4ea4\u6613\u7d71\u8a08\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u80a1\u7968\u73fe\u80a1\u7576\u6c96\u4ea4\u6613\u7d71\u8a08\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_intraday_trading_statistics"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_intraday_trading_statistics"}}}}}}},"/tpex_active_broker_volume":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u71b1\u9580\u80a1\u8b49\u5238\u5546\u9032\u51fa\u6392\u884c","description":"\u4e0a\u6ac3\u80a1\u7968\u71b1\u9580\u80a1\u8b49\u5238\u5546\u9032\u51fa\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_active_broker_volume"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_active_broker_volume"}}}}}}},"/tpex_margin_sbl":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u878d\u5238\u501f\u5238\u8ce3\u51fa\u9918\u984d","description":"\u4e0a\u6ac3\u80a1\u7968\u878d\u5238\u501f\u5238\u8ce3\u51fa\u9918\u984d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_margin_sbl"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_margin_sbl"}}}}}}},"/tpex_exright_daily":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u9664\u6b0a\u9664\u606f\u8a08\u7b97\u7d50\u679c\u8868","description":"\u4e0a\u6ac3\u80a1\u7968\u9664\u6b0a\u9664\u606f\u8a08\u7b97\u7d50\u679c\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_exright_daily"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_exright_daily"}}}}}}},"/tpex_exright_prepost":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u9664\u6b0a\u9664\u606f\u9810\u544a\u8868","description":"\u4e0a\u6ac3\u80a1\u7968\u9664\u6b0a\u9664\u606f\u9810\u544a\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_exright_prepost"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_exright_prepost"}}}}}}},"/tpex_cmode":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u8b8a\u66f4\u4ea4\u6613\u3001\u5206\u76e4\u4ea4\u6613\u3001\u7ba1\u7406\u80a1\u7968\u8207\u505c\u6b62\u4ea4\u6613\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u80a1\u7968\u8b8a\u66f4\u4ea4\u6613\u3001\u5206\u76e4\u4ea4\u6613\u3001\u7ba1\u7406\u80a1\u7968\u8207\u505c\u6b62\u4ea4\u6613\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_cmode"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_cmode"}}}}}}},"/tpex_odd_stock":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u96f6\u80a1\u4ea4\u6613\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u80a1\u7968\u96f6\u80a1\u4ea4\u6613\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_odd_stock"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_odd_stock"}}}}}}},"/tpex_off_market":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u76e4\u5f8c\u5b9a\u50f9\u884c\u60c5","description":"\u4e0a\u6ac3\u80a1\u7968\u76e4\u5f8c\u5b9a\u50f9\u884c\u60c5","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_off_market"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_off_market"}}}}}}},"/tpex_esb_applicant_companies":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u7533\u8acb\u4e0a\u6ac3\u516c\u53f8","description":"\u7533\u8acb\u4e0a\u6ac3\u516c\u53f8","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_esb_applicant_companies"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_esb_applicant_companies"}}}}}}},"/tpex_trading_warning_information":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u516c\u5e03\u6ce8\u610f\u80a1\u7968\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u516c\u5e03\u6ce8\u610f\u80a1\u7968\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_trading_warning_information"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_trading_warning_information"}}}}}}},"/tpex_disposal_information":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u8655\u7f6e\u6709\u50f9\u8b49\u5238\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u8655\u7f6e\u6709\u50f9\u8b49\u5238\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_disposal_information"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_disposal_information"}}}}}}},"/tpex_trading_warning_note":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u516c\u5e03\u6ce8\u610f\u7d2f\u8a08\u6b21\u6578\u7570\u5e38\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u516c\u5e03\u6ce8\u610f\u7d2f\u8a08\u6b21\u6578\u7570\u5e38\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_trading_warning_note"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_trading_warning_note"}}}}}}},"/tpex_margin_trading_term":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u66ab\u505c\u878d\u5238\u8ce3\u51fa\u9810\u544a\u8868","description":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u66ab\u505c\u878d\u5238\u8ce3\u51fa\u9810\u544a\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_term"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_term"}}}}}}},"/tpex_margin_trading_adjust":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u8abf\u6574\u6210\u6578","description":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u8abf\u6574\u6210\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_adjust"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_adjust"}}}}}}},"/tpex_margin_trading_lend":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u6a19\u501f","description":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u6a19\u501f","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_lend"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_lend"}}}}}}},"/tpex_margin_trading_marginspot":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u4fe1\u7528\u4ea4\u6613\u9918\u984d\u6982\u6cc1\u8868","description":"\u4e0a\u6ac3\u4fe1\u7528\u4ea4\u6613\u9918\u984d\u6982\u6cc1\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_marginspot"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_marginspot"}}}}}}},"/tpex_margin_trading_margin_mark":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u5e73\u76e4\u4e0b\u5f97\u878d(\u501f)\u5238\u8ce3\u51fa\u4e4b\u8b49\u5238\u540d\u55ae","description":"\u4e0a\u6ac3\u5e73\u76e4\u4e0b\u5f97\u878d(\u501f)\u5238\u8ce3\u51fa\u4e4b\u8b49\u5238\u540d\u55ae","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_margin_mark"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_margin_mark"}}}}}}},"/tpex_margin_trading_margin_used":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u4f7f\u7528\u7387\u5831\u8868","description":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u4f7f\u7528\u7387\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_margin_used"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_margin_used"}}}}}}},"/tpex_margin_trading_short_sell":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u589e\u6e1b\u6392\u884c\u8868","description":"\u4e0a\u6ac3\u878d\u8cc7\u878d\u5238\u589e\u6e1b\u6392\u884c\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_short_sell"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_margin_trading_short_sell"}}}}}}},"/tpex_3insti_qfii":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u50d1\u5916\u8cc7\u53ca\u9678\u8cc7\u6301\u80a1\u6bd4\u4f8b\u6392\u884c\u8868","description":"\u4e0a\u6ac3\u50d1\u5916\u8cc7\u53ca\u9678\u8cc7\u6301\u80a1\u6bd4\u4f8b\u6392\u884c\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_3insti_qfii"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_3insti_qfii"}}}}}}},"/tpex_3insti_qfii_industry":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u5404\u985e\u80a1\u50d1\u5916\u8cc7\u53ca\u9678\u8cc7\u6301\u80a1\u6bd4\u4f8b\u8868","description":"\u4e0a\u6ac3\u5404\u985e\u80a1\u50d1\u5916\u8cc7\u53ca\u9678\u8cc7\u6301\u80a1\u6bd4\u4f8b\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_3insti_qfii_industry"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_3insti_qfii_industry"}}}}}}},"/tpex_3insti_daily_trading":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u4e09\u5927\u6cd5\u4eba\u8cb7\u8ce3\u660e\u7d30\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u80a1\u7968\u4e09\u5927\u6cd5\u4eba\u8cb7\u8ce3\u660e\u7d30\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_3insti_daily_trading"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_3insti_daily_trading"}}}}}}},"/tpex_3insti_dealer_trading":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u81ea\u71df\u5546\u8cb7\u8ce3\u8d85\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u80a1\u7968\u81ea\u71df\u5546\u8cb7\u8ce3\u8d85\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_3insti_dealer_trading"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_3insti_dealer_trading"}}}}}}},"/tpex_ceil_non_trading":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6f32\u8dcc\u505c\u672a\u6210\u4ea4\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u6f32\u8dcc\u505c\u672a\u6210\u4ea4\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_ceil_non_trading"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_ceil_non_trading"}}}}}}},"/tpex_daily_trading_index":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u65e5\u6210\u4ea4\u91cf\u503c\u6307\u6578","description":"\u4e0a\u6ac3\u65e5\u6210\u4ea4\u91cf\u503c\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_daily_trading_index"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_daily_trading_index"}}}}}}},"/tpex_short_sell":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u7576\u65e5\u878d\u5238\u8ce3\u51fa\u8207\u501f\u5238\u8ce3\u51fa\u6210\u4ea4\u91cf\u503c","description":"\u4e0a\u6ac3\u7576\u65e5\u878d\u5238\u8ce3\u51fa\u8207\u501f\u5238\u8ce3\u51fa\u6210\u4ea4\u91cf\u503c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_short_sell"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_short_sell"}}}}}}},"/tpex_daily_broker1":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u5404\u5238\u5546\u7576\u65e5\u71df\u696d\u91d1\u984d\u7d71\u8a08\u8868","description":"\u4e0a\u6ac3\u5404\u5238\u5546\u7576\u65e5\u71df\u696d\u91d1\u984d\u7d71\u8a08\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_daily_broker1"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_daily_broker1"}}}}}}},"/tpex_active_dollar_volume":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u76e4\u4e2d\u500b\u80a1\u6210\u4ea4\u91d1\u984d\u6392\u884c","description":"\u4e0a\u6ac3\u76e4\u4e2d\u500b\u80a1\u6210\u4ea4\u91d1\u984d\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_active_dollar_volume"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_active_dollar_volume"}}}}}}},"/tpex_active_advanced":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u76e4\u4e2d\u500b\u80a1\u6f32\u5e45\u6392\u884c","description":"\u4e0a\u6ac3\u76e4\u4e2d\u500b\u80a1\u6f32\u5e45\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_active_advanced"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_active_advanced"}}}}}}},"/tpex_active_declined":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u76e4\u4e2d\u500b\u80a1\u8dcc\u5e45\u6392\u884c","description":"\u4e0a\u6ac3\u76e4\u4e2d\u500b\u80a1\u8dcc\u5e45\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_active_declined"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_active_declined"}}}}}}},"/tpex_intraday_fee":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u61c9\u4ed8\u73fe\u80a1\u7576\u65e5\u6c96\u92b7\u5238\u5dee\u501f\u5238\u8cbb\u7387","description":"\u4e0a\u6ac3\u61c9\u4ed8\u73fe\u80a1\u7576\u65e5\u6c96\u92b7\u5238\u5dee\u501f\u5238\u8cbb\u7387","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_intraday_fee"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_intraday_fee"}}}}}}},"/tpex_intraday_trading_pre":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u66ab\u505c\u5148\u8ce3\u5f8c\u8cb7\u7576\u65e5\u6c96\u92b7\u4ea4\u6613\u6a19\u7684\u9810\u544a\u8868","description":"\u4e0a\u6ac3\u66ab\u505c\u5148\u8ce3\u5f8c\u8cb7\u7576\u65e5\u6c96\u92b7\u4ea4\u6613\u6a19\u7684\u9810\u544a\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_intraday_trading_pre"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_intraday_trading_pre"}}}}}}},"/tpex_intraday_trading_his":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u66ab\u505c\u5148\u8ce3\u5f8c\u8cb7\u7576\u65e5\u6c96\u92b7\u4ea4\u6613\u6b77\u53f2\u67e5\u8a62","description":"\u4e0a\u6ac3\u66ab\u505c\u5148\u8ce3\u5f8c\u8cb7\u7576\u65e5\u6c96\u92b7\u4ea4\u6613\u6b77\u53f2\u67e5\u8a62","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_intraday_trading_his"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_intraday_trading_his"}}}}}}},"/tpex_daily_market_value":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u5e02\u503c\u6392\u884c","description":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u5e02\u503c\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_daily_market_value"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_daily_market_value"}}}}}}},"/tpex_daily_turnover":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u9031\u8f49\u7387\u6392\u884c","description":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u9031\u8f49\u7387\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_daily_turnover"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_daily_turnover"}}}}}}},"/tpex_trading_volumes_avg":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u65e5\u5747\u91cf\u6392\u884c","description":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u65e5\u5747\u91cf\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_trading_volumes_avg"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_trading_volumes_avg"}}}}}}},"/tpex_trading_amount_avg":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u65e5\u5747\u503c\u6392\u884c","description":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u65e5\u5747\u503c\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_trading_amount_avg"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_trading_amount_avg"}}}}}}},"/tpex_trading_volume_ratio":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u985e\u80a1\u6210\u4ea4\u50f9\u91cf\u6bd4\u91cd","description":"\u4e0a\u6ac3\u6b77\u53f2\u985e\u80a1\u6210\u4ea4\u50f9\u91cf\u6bd4\u91cd","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_trading_volume_ratio"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_trading_volume_ratio"}}}}}}},"/tpex_pe_ratio_top10":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u672c\u76ca\u6bd4\u6392\u884c","description":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u672c\u76ca\u6bd4\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_pe_ratio_top10"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_pe_ratio_top10"}}}}}}},"/tpex_daily_qutoes_block":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u9245\u984d\u4ea4\u6613\u65e5\u6210\u4ea4\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u9245\u984d\u4ea4\u6613\u65e5\u6210\u4ea4\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_daily_qutoes_block"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_daily_qutoes_block"}}}}}}},"/tpex_daily_trading_block":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u500b\u80a1\u55ae\u4e00\u8b49\u5238\u9245\u984d\u4ea4\u6613\u65e5\u6210\u4ea4\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u500b\u80a1\u55ae\u4e00\u8b49\u5238\u9245\u984d\u4ea4\u6613\u65e5\u6210\u4ea4\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_daily_trading_block"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_daily_trading_block"}}}}}}},"/tpex_daily_trading_summary_odd":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u9245\u984d\u4ea4\u6613\u65e5\u6210\u4ea4\u91cf\u503c\u7d71\u8a08","description":"\u4e0a\u6ac3\u9245\u984d\u4ea4\u6613\u65e5\u6210\u4ea4\u91cf\u503c\u7d71\u8a08","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_daily_trading_summary_odd"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_daily_trading_summary_odd"}}}}}}},"/tpex_monthly_trading_summary_block":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u9245\u984d\u4ea4\u6613\u6708\u6210\u4ea4\u91cf\u503c\u7d71\u8a08","description":"\u4e0a\u6ac3\u9245\u984d\u4ea4\u6613\u6708\u6210\u4ea4\u91cf\u503c\u7d71\u8a08","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_monthly_trading_summary_block"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_monthly_trading_summary_block"}}}}}}},"/tpex_yearly_trading_summary_block":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u9245\u984d\u4ea4\u6613\u5e74\u6210\u4ea4\u91cf\u503c\u7d71\u8a08","description":"\u4e0a\u6ac3\u9245\u984d\u4ea4\u6613\u5e74\u6210\u4ea4\u91cf\u503c\u7d71\u8a08","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_yearly_trading_summary_block"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_yearly_trading_summary_block"}}}}}}},"/tpex_volume_rank":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u6210\u4ea4\u91cf\u6392\u884c","description":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u6210\u4ea4\u91cf\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_volume_rank"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_volume_rank"}}}}}}},"/tpex_amount_rank":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u6210\u4ea4\u503c\u6392\u884c","description":"\u4e0a\u6ac3\u6b77\u53f2\u500b\u80a1\u6210\u4ea4\u503c\u6392\u884c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_amount_rank"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_amount_rank"}}}}}}},"/tpex_prvol":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u7b49\u50f9\u7cfb\u7d71\u6210\u4ea4\u5206\u50f9\u8868","description":"\u4e0a\u6ac3\u80a1\u7968\u7b49\u50f9\u7cfb\u7d71\u6210\u4ea4\u5206\u50f9\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_prvol"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_prvol"}}}}}}},"/tpex_3insti_summary":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u4e09\u5927\u6cd5\u4eba\u8cb7\u8ce3\u91d1\u984d\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u80a1\u7968\u4e09\u5927\u6cd5\u4eba\u8cb7\u8ce3\u91d1\u984d\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_3insti_summary"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_3insti_summary"}}}}}}},"/tpex_3insti_trading":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u6295\u4fe1\u8cb7\u8ce3\u8d85\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u80a1\u7968\u6295\u4fe1\u8cb7\u8ce3\u8d85\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_3insti_trading"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_3insti_trading"}}}}}}},"/tpex_daily_trade_block_day":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u9245\u984d\u4ea4\u6613\u6b77\u53f2\u6210\u4ea4\u8cc7\u8a0a","description":"\u9245\u984d\u4ea4\u6613\u6b77\u53f2\u6210\u4ea4\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_daily_trade_block_day"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_daily_trade_block_day"}}}}}}},"/tpex_delayed_stock_open":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6bcf\u65e5\u66ab\u7de9\u958b\u76e4\u80a1\u7968","description":"\u4e0a\u6ac3\u6bcf\u65e5\u66ab\u7de9\u958b\u76e4\u80a1\u7968","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_delayed_stock_open"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_delayed_stock_open"}}}}}}},"/tpex_delayed_stock_close":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u6bcf\u65e5\u66ab\u7de9\u6536\u76e4\u80a1\u7968","description":"\u4e0a\u6ac3\u6bcf\u65e5\u66ab\u7de9\u6536\u76e4\u80a1\u7968","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_delayed_stock_close"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_delayed_stock_close"}}}}}}},"/tpex_ipo_no_limit":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u9996\u4e94\u65e5\u7121\u6f32\u8dcc\u5e45\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u9996\u4e94\u65e5\u7121\u6f32\u8dcc\u5e45\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_ipo_no_limit"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_ipo_no_limit"}}}}}}},"/tpex_esb_eps_rank":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u672c\u570b\u8208\u6ac3\u516c\u53f8EPS\u6392\u540d","description":"\u672c\u570b\u8208\u6ac3\u516c\u53f8EPS\u6392\u540d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_esb_eps_rank"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_esb_eps_rank"}}}}}}},"/tpex_esb_capitals_rank":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u8208\u6ac3\u516c\u53f8\u8cc7\u672c\u984d\u6392\u540d","description":"\u8208\u6ac3\u516c\u53f8\u8cc7\u672c\u984d\u6392\u540d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_esb_capitals_rank"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_esb_capitals_rank"}}}}}}},"/tpex200_change":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u5bcc\u6ac3200\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","description":"\u6ac3\u8cb7\u300c\u5bcc\u6ac3200\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex200_change"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex200_change"}}}}}}},"/tpcgi_constituents":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u6cbb\u7406\u6307\u6578\u7576\u65e5\u6210\u5206\u80a1\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u516c\u53f8\u6cbb\u7406\u6307\u6578\u7576\u65e5\u6210\u5206\u80a1\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpcgi_constituents"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpcgi_constituents"}}}}}}},"/tpcgi_reward_index":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u6cbb\u7406\u6307\u6578\u6b77\u53f2\u6536\u76e4\u6307\u6578","description":"\u4e0a\u6ac3\u516c\u53f8\u6cbb\u7406\u6307\u6578\u6b77\u53f2\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpcgi_reward_index"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpcgi_reward_index"}}}}}}},"/tpcgi_change":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u6cbb\u7406\u6307\u6578\u7576\u65e5\u6536\u76e4\u6307\u6578","description":"\u4e0a\u6ac3\u516c\u53f8\u6cbb\u7406\u6307\u6578\u7576\u65e5\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpcgi_change"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpcgi_change"}}}}}}},"/tpex_index_consti":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u6307\u6578\u6210\u5206\u80a1","description":"\u6ac3\u8cb7\u6307\u6578\u6210\u5206\u80a1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_index_consti"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_index_consti"}}}}}}},"/tpex_reward_index":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u6307\u6578\u8207\u5831\u916c\u6307\u6578\u4e4b\u6536\u5e02\u6307\u6578","description":"\u6ac3\u8cb7\u6307\u6578\u8207\u5831\u916c\u6307\u6578\u4e4b\u6536\u5e02\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_reward_index"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_reward_index"}}}}}}},"/tpex50_constituents":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u5bcc\u6ac350\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","description":"\u6ac3\u8cb7\u300c\u5bcc\u6ac350\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex50_constituents"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex50_constituents"}}}}}}},"/tpex50_change":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u5bcc\u6ac350\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","description":"\u6ac3\u8cb7\u300c\u5bcc\u6ac350\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex50_change"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex50_change"}}}}}}},"/tphd_constituents":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u9ad8\u6b96\u5229\u7387\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","description":"\u6ac3\u8cb7\u300c\u9ad8\u6b96\u5229\u7387\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tphd_constituents"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tphd_constituents"}}}}}}},"/tphd_change":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u9ad8\u6b96\u5229\u7387\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","description":"\u6ac3\u8cb7\u300c\u9ad8\u6b96\u5229\u7387\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tphd_change"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tphd_change"}}}}}}},"/tpci_constituents":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u85aa\u916c\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","description":"\u6ac3\u8cb7\u300c\u85aa\u916c\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpci_constituents"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpci_constituents"}}}}}}},"/tpci_change":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u85aa\u916c\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","description":"\u6ac3\u8cb7\u300c\u85aa\u916c\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpci_change"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpci_change"}}}}}}},"/tpci_reward_index":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u85aa\u916c\u6307\u6578\u300d\u6b77\u53f2\u6536\u76e4\u6307\u6578","description":"\u6ac3\u8cb7\u300c\u85aa\u916c\u6307\u6578\u300d\u6b77\u53f2\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpci_reward_index"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpci_reward_index"}}}}}}},"/tpex_emp88_constituents":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u52de\u5de5\u5c31\u696d88\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","description":"\u6ac3\u8cb7\u300c\u52de\u5de5\u5c31\u696d88\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_emp88_constituents"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_emp88_constituents"}}}}}}},"/tpex_emp88_change":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u52de\u5de5\u5c31\u696d88\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","description":"\u6ac3\u8cb7\u300c\u52de\u5de5\u5c31\u696d88\u6307\u6578\u300d\u7576\u65e5\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_emp88_change"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_emp88_change"}}}}}}},"/tpex_emp88_reward_index":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u52de\u5de5\u5c31\u696d88\u6307\u6578\u300d\u6b77\u53f2\u6536\u76e4\u6307\u6578","description":"\u6ac3\u8cb7\u300c\u52de\u5de5\u5c31\u696d88\u6307\u6578\u300d\u6b77\u53f2\u6536\u76e4\u6307\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_emp88_reward_index"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_emp88_reward_index"}}}}}}},"/tpex_dpsp_monthly_CBmcs007":{"get":{"tags":["\u50b5\u5238"],"summary":"\u53ef\u8f49\u50b5\u8cc7\u7522\u4ea4\u63dbASO\u53caASW\u9280\u884c\u627f\u4f5c\u9918\u984d","description":"\u53ef\u8f49\u50b5\u8cc7\u7522\u4ea4\u63dbASO\u53caASW\u9280\u884c\u627f\u4f5c\u9918\u984d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_dpsp_monthly_CBmcs007"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_dpsp_monthly_CBmcs007"}}}}}}},"/tpex_international_bond_quotes":{"get":{"tags":["\u50b5\u5238"],"summary":"\u570b\u969b\u50b5\u5238\u7576\u65e5\u76e4\u4e2d\u5831\u50f9\u884c\u60c5\u8868(\u542b\u5bf6\u5cf6\u50b5)","description":"\u570b\u969b\u50b5\u5238\u7576\u65e5\u76e4\u4e2d\u5831\u50f9\u884c\u60c5\u8868(\u542b\u5bf6\u5cf6\u50b5)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_international_bond_quotes"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_international_bond_quotes"}}}}}}},"/tpex_international_bond_trade":{"get":{"tags":["\u50b5\u5238"],"summary":"\u570b\u969b\u50b5\u5238\u7576\u65e5\u76e4\u4e2d\u6210\u4ea4\u884c\u60c5\u8868(\u542b\u5bf6\u5cf6\u50b5)","description":"\u570b\u969b\u50b5\u5238\u7576\u65e5\u76e4\u4e2d\u6210\u4ea4\u884c\u60c5\u8868(\u542b\u5bf6\u5cf6\u50b5)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_international_bond_trade"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_international_bond_trade"}}}}}}},"/tpex_international_bond_issue_investor":{"get":{"tags":["\u50b5\u5238"],"summary":"\u570b\u969b\u50b5\u5238(\u4e00\u822c\u6295\u8cc7\u4eba)","description":"\u570b\u969b\u50b5\u5238(\u4e00\u822c\u6295\u8cc7\u4eba)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_international_bond_issue_investor"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_international_bond_issue_investor"}}}}}}},"/tpex_international_bond_issue_org":{"get":{"tags":["\u50b5\u5238"],"summary":"\u570b\u969b\u50b5\u5238(\u50c5\u552e\u4e88\u5c08\u696d\u6295\u8cc7\u4eba\u8005)","description":"\u570b\u969b\u50b5\u5238(\u50c5\u552e\u4e88\u5c08\u696d\u6295\u8cc7\u4eba\u8005)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_international_bond_issue_org"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_international_bond_issue_org"}}}}}}},"/t187ap46_O_21":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8077\u696d\u5b89\u5168\u885b\u751f","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8077\u696d\u5b89\u5168\u885b\u751f","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_21"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_21"}}}}}}},"/t187ap46_O_9":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u529f\u80fd\u6027\u59d4\u54e1\u6703","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u529f\u80fd\u6027\u59d4\u54e1\u6703","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_9"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_9"}}}}}}},"/t187ap46_O_8":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6c23\u5019\u76f8\u95dc\u8b70\u984c\u7ba1\u7406","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6c23\u5019\u76f8\u95dc\u8b70\u984c\u7ba1\u7406","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_8"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_8"}}}}}}},"/tpex_esb_disposal_information":{"get":{"tags":["\u8208\u6ac3"],"summary":"\u8208\u6ac3\u8655\u7f6e\u6709\u50f9\u8b49\u5238\u8cc7\u8a0a","description":"\u8208\u6ac3\u8655\u7f6e\u6709\u50f9\u8b49\u5238\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_esb_disposal_information"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_esb_disposal_information"}}}}}}},"/tpex_esb_warning_information":{"get":{"tags":["\u8208\u6ac3"],"summary":"\u8208\u6ac3\u516c\u5e03\u6ce8\u610f\u6709\u50f9\u8b49\u5238\u8cc7\u8a0a","description":"\u8208\u6ac3\u516c\u5e03\u6ce8\u610f\u6709\u50f9\u8b49\u5238\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_esb_warning_information"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_esb_warning_information"}}}}}}},"/tpex_esb_recommended_dealer":{"get":{"tags":["\u8208\u6ac3"],"summary":"\u8208\u6ac3\u63a8\u85a6\u8b49\u5238\u5546\u8207\u63a8\u85a6\u4e4b\u80a1\u7968","description":"\u8208\u6ac3\u63a8\u85a6\u8b49\u5238\u5546\u8207\u63a8\u85a6\u4e4b\u80a1\u7968","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_esb_recommended_dealer"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_esb_recommended_dealer"}}}}}}},"/tpex_warrant_gold":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u9ec3\u91d1\u73fe\u8ca8\u6b0a\u8b49\u767c\u884c\u57fa\u672c\u8cc7\u6599","description":"\u9ec3\u91d1\u73fe\u8ca8\u6b0a\u8b49\u767c\u884c\u57fa\u672c\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_gold"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_gold"}}}}}}},"/tpex_warrant_gold_quts":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u9ec3\u91d1\u73fe\u8ca8\u6b0a\u8b49\u6536\u76e4\u884c\u60c5","description":"\u9ec3\u91d1\u73fe\u8ca8\u6b0a\u8b49\u6536\u76e4\u884c\u60c5","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_gold_quts"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_gold_quts"}}}}}}},"/tpex_warrant_daily_quts":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u6b0a\u8b49\u6536\u76e4\u884c\u60c5\u65e5\u5831\u8868","description":"\u4e0a\u6ac3\u6b0a\u8b49\u6536\u76e4\u884c\u60c5\u65e5\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_daily_quts"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_daily_quts"}}}}}}},"/tpex_warrant_monthly_quts":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u6b0a\u8b49\u6536\u76e4\u884c\u60c5\u6708\u5831\u8868","description":"\u4e0a\u6ac3\u6b0a\u8b49\u6536\u76e4\u884c\u60c5\u6708\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_monthly_quts"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_monthly_quts"}}}}}}},"/tpex_warrant_issue":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u6b0a\u8b49\u767c\u884c\u57fa\u672c\u8cc7\u6599","description":"\u4e0a\u6ac3\u6b0a\u8b49\u767c\u884c\u57fa\u672c\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_issue"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_issue"}}}}}}},"/tpex_warrant_wcb_daily_quts":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u725b\u718a\u8b49\u6536\u76e4\u884c\u60c5(\u4e0d\u542b\u5c55\u5ef6\u578b\u725b\u718a\u8b49)\u65e5\u5831\u8868","description":"\u4e0a\u6ac3\u725b\u718a\u8b49\u6536\u76e4\u884c\u60c5(\u4e0d\u542b\u5c55\u5ef6\u578b\u725b\u718a\u8b49)\u65e5\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wcb_daily_quts"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wcb_daily_quts"}}}}}}},"/tpex_warrant_wcb_monthly_quts":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u725b\u718a\u8b49\u6536\u76e4\u884c\u60c5(\u4e0d\u542b\u5c55\u5ef6\u578b\u725b\u718a\u8b49)\u6708\u5831\u8868","description":"\u4e0a\u6ac3\u725b\u718a\u8b49\u6536\u76e4\u884c\u60c5(\u4e0d\u542b\u5c55\u5ef6\u578b\u725b\u718a\u8b49)\u6708\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wcb_monthly_quts"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wcb_monthly_quts"}}}}}}},"/tpex_warrant_wcb_issue":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u725b\u718a\u8b49\u767c\u884c\u57fa\u672c\u8cc7\u6599(\u4e0d\u542b\u5c55\u5ef6\u578b\u725b\u718a\u8b49)","description":"\u4e0a\u6ac3\u725b\u718a\u8b49\u767c\u884c\u57fa\u672c\u8cc7\u6599(\u4e0d\u542b\u5c55\u5ef6\u578b\u725b\u718a\u8b49)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wcb_issue"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wcb_issue"}}}}}}},"/tpex_warrant_wxy_daily_quts":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u5c55\u5ef6\u578b\u725b\u718a\u8b49\u6536\u76e4\u884c\u60c5\u65e5\u5831\u8868","description":"\u4e0a\u6ac3\u5c55\u5ef6\u578b\u725b\u718a\u8b49\u6536\u76e4\u884c\u60c5\u65e5\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wxy_daily_quts"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wxy_daily_quts"}}}}}}},"/tpex_warrant_wxy_monthly_quts":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u5c55\u5ef6\u578b\u725b\u718a\u8b49\u6536\u76e4\u884c\u60c5\u6708\u5831\u8868","description":"\u4e0a\u6ac3\u5c55\u5ef6\u578b\u725b\u718a\u8b49\u6536\u76e4\u884c\u60c5\u6708\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wxy_monthly_quts"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wxy_monthly_quts"}}}}}}},"/tpex_warrant_wxy_issue":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u5c55\u5ef6\u578b\u725b\u718a\u8b49\u767c\u884c\u57fa\u672c\u8cc7\u6599","description":"\u4e0a\u6ac3\u5c55\u5ef6\u578b\u725b\u718a\u8b49\u767c\u884c\u57fa\u672c\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wxy_issue"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_wxy_issue"}}}}}}},"/tpex_warrant_quts":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u55ae\u7b46\u6b0a\u8b49\u6210\u4ea4\u8cc7\u6599","description":"\u55ae\u7b46\u6b0a\u8b49\u6210\u4ea4\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_quts"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_quts"}}}}}}},"/tpex_warrant_statistics":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u6bcf\u65e5\u6b0a\u8b49\u4ea4\u6613\u4eba\u6578(\u4e0a\u6ac3)","description":"\u6bcf\u65e5\u6b0a\u8b49\u4ea4\u6613\u4eba\u6578(\u4e0a\u6ac3)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_statistics"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_statistics"}}}}}}},"/tpex_warrant":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u6b0a\u8b49\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u80a1\u7968\u6b0a\u8b49\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant"}}}}}}},"/tpex_warrant_suspend_today":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u6b0a\u8b49\u7576\u65e5\u66ab\u505c/\u6062\u5fa9\u4ea4\u6613\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u6b0a\u8b49\u7576\u65e5\u66ab\u505c/\u6062\u5fa9\u4ea4\u6613\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_suspend_today"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_suspend_today"}}}}}}},"/tpex_warrant_suspend_history":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u6b0a\u8b49\u6b77\u53f2\u66ab\u505c/\u6062\u5fa9\u4ea4\u6613\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u6b0a\u8b49\u6b77\u53f2\u66ab\u505c/\u6062\u5fa9\u4ea4\u6613\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_warrant_suspend_history"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_warrant_suspend_history"}}}}}}},"/tpex_opfund_latest":{"get":{"tags":["\u958b\u653e\u5f0f\u57fa\u91d1"],"summary":"\u958b\u653e\u5f0f\u57fa\u91d1\u7576\u65e5\u884c\u60c5\u8868","description":"\u958b\u653e\u5f0f\u57fa\u91d1\u7576\u65e5\u884c\u60c5\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_opfund_latest"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_opfund_latest"}}}}}}},"/tpex_opfund_recommended_dealer":{"get":{"tags":["\u958b\u653e\u5f0f\u57fa\u91d1"],"summary":"\u958b\u653e\u5f0f\u57fa\u91d1\u53d7\u76ca\u6191\u8b49\u9020\u5e02\u5546\u8207\u9020\u5e02\u4e4b\u57fa\u91d1","description":"\u958b\u653e\u5f0f\u57fa\u91d1\u53d7\u76ca\u6191\u8b49\u9020\u5e02\u5546\u8207\u9020\u5e02\u4e4b\u57fa\u91d1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_opfund_recommended_dealer"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_opfund_recommended_dealer"}}}}}}},"/tpex_opfund_market_highlight":{"get":{"tags":["\u958b\u653e\u5f0f\u57fa\u91d1"],"summary":"\u958b\u653e\u5f0f\u57fa\u91d1\u5e02\u5834\u73fe\u6cc1","description":"\u958b\u653e\u5f0f\u57fa\u91d1\u5e02\u5834\u73fe\u6cc1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_opfund_market_highlight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_opfund_market_highlight"}}}}}}},"/tpex_gold_market_highlight":{"get":{"tags":["\u9ec3\u91d1\u73fe\u8ca8"],"summary":"\u9ec3\u91d1\u73fe\u8ca8\u5e02\u5834\u73fe\u6cc1","description":"\u9ec3\u91d1\u73fe\u8ca8\u5e02\u5834\u73fe\u6cc1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_gold_market_highlight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_gold_market_highlight"}}}}}}},"/tpex_gold_recommended_dealer":{"get":{"tags":["\u9ec3\u91d1\u73fe\u8ca8"],"summary":"\u9020\u5e02\u5546\u8207\u9020\u5e02\u4e4b\u9ec3\u91d1\u73fe\u8ca8","description":"\u9020\u5e02\u5546\u8207\u9020\u5e02\u4e4b\u9ec3\u91d1\u73fe\u8ca8","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_gold_recommended_dealer"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_gold_recommended_dealer"}}}}}}},"/tpex_gold_latest":{"get":{"tags":["\u9ec3\u91d1\u73fe\u8ca8"],"summary":"\u9ec3\u91d1\u73fe\u8ca8\u7576\u65e5\u884c\u60c5\u8868","description":"\u9ec3\u91d1\u73fe\u8ca8\u7576\u65e5\u884c\u60c5\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_gold_latest"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_gold_latest"}}}}}}},"/tpex_gisa_highlight":{"get":{"tags":["\u5275\u6ac3"],"summary":"\u5275\u6ac3\u677f\u516c\u53f8\u5e02\u5834\u73fe\u6cc1","description":"\u5275\u6ac3\u677f\u516c\u53f8\u5e02\u5834\u73fe\u6cc1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_gisa_highlight"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_gisa_highlight"}}}}}}},"/tpex_gisa_company":{"get":{"tags":["\u5275\u6ac3"],"summary":"\u5275\u6ac3\u677f\u516c\u53f8\u8cc7\u8a0a","description":"\u5275\u6ac3\u677f\u516c\u53f8\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_gisa_company"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_gisa_company"}}}}}}},"/tpex_gisa_financing_before":{"get":{"tags":["\u5275\u6ac3"],"summary":"\u65bc\u767b\u9304\u5275\u6ac3\u677f\u524d\u8fa6\u7406\u7c4c\u8cc7\u8cc7\u8a0a","description":"\u65bc\u767b\u9304\u5275\u6ac3\u677f\u524d\u8fa6\u7406\u7c4c\u8cc7\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_gisa_financing_before"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_gisa_financing_before"}}}}}}},"/t187ap46_O_20":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u53cd\u7af6\u722d\u884c\u70ba\u6cd5\u5f8b\u8a34\u8a1f ","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u53cd\u7af6\u722d\u884c\u70ba\u6cd5\u5f8b\u8a34\u8a1f ","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_20"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_20"}}}}}}},"/t187ap46_O_19":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u98a8\u96aa\u7ba1\u7406\u653f\u7b56 ","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u98a8\u96aa\u7ba1\u7406\u653f\u7b56 ","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_19"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_19"}}}}}}},"/t187ap46_O_15":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u793e\u5340\u95dc\u4fc2 ","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u793e\u5340\u95dc\u4fc2 ","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_15"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_15"}}}}}}},"/t187ap46_O_13":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u4f9b\u61c9\u93c8\u7ba1\u7406 ","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u4f9b\u61c9\u93c8\u7ba1\u7406 ","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_13"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_13"}}}}}}},"/t187ap46_O_12":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u98df\u54c1\u5b89\u5168","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u98df\u54c1\u5b89\u5168","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_12"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_12"}}}}}}},"/t187ap46_O_14":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u7522\u54c1\u54c1\u8cea\u8207\u5b89\u5168","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u7522\u54c1\u54c1\u8cea\u8207\u5b89\u5168","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_14"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_14"}}}}}}},"/tpex200_constituents":{"get":{"tags":["\u6307\u6578\u7cfb\u5217"],"summary":"\u6ac3\u8cb7\u300c\u5bcc\u6ac3200\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","description":"\u6ac3\u8cb7\u300c\u5bcc\u6ac3200\u6307\u6578\u300d\u7576\u65e5\u6210\u5206\u80a1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex200_constituents"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex200_constituents"}}}}}}},"/t187ap41_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u53ec\u958b\u80a1\u6771\u5e38 (\u81e8\u6642) \u6703\u65e5\u671f\u3001\u5730\u9ede\u53ca\u63a1\u7528\u96fb\u5b50\u6295\u7968\u60c5\u5f62\u7b49\u8cc7\u6599\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u53ec\u958b\u80a1\u6771\u5e38 (\u81e8\u6642) \u6703\u65e5\u671f\u3001\u5730\u9ede\u53ca\u63a1\u7528\u96fb\u5b50\u6295\u7968\u60c5\u5f62\u7b49\u8cc7\u6599\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap41_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap41_O"}}}}}}},"/t187ap05_R":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u8208\u6ac3\u516c\u53f8\u6bcf\u6708\u71df\u696d\u6536\u5165\u5f59\u7e3d\u8868","description":"\u8208\u6ac3\u516c\u53f8\u6bcf\u6708\u71df\u696d\u6536\u5165\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap05_R"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap05_R"}}}}}}},"/t187ap46_O_4":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u5ee2\u68c4\u7269\u7ba1\u7406","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u5ee2\u68c4\u7269\u7ba1\u7406","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_4"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_4"}}}}}}},"/t187ap46_O_2":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u80fd\u6e90\u7ba1\u7406","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u80fd\u6e90\u7ba1\u7406","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_2"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_2"}}}}}}},"/t187ap46_O_7":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6295\u8cc7\u4eba\u6e9d\u901a","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6295\u8cc7\u4eba\u6e9d\u901a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_7"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_7"}}}}}}},"/t187ap46_O_1":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6eab\u5ba4\u6c23\u9ad4\u6392\u653e","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6eab\u5ba4\u6c23\u9ad4\u6392\u653e","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_1"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_1"}}}}}}},"/t187ap46_O_6":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8463\u4e8b\u6703","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8463\u4e8b\u6703","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_6"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_6"}}}}}}},"/t187ap46_O_5":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u4eba\u529b\u767c\u5c55","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u4eba\u529b\u767c\u5c55","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_5"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_5"}}}}}}},"/t187ap46_O_3":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6c34\u8cc7\u6e90\u7ba1\u7406","description":"\u4e0a\u6ac3\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6c34\u8cc7\u6e90\u7ba1\u7406","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/t187ap46_O_3"}},"text/csv":{"schema":{"$ref":"#/components/schemas/t187ap46_O_3"}}}}}}},"/mopsfin_t187ap05_OA":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e8c\u5341\u4e5d\u5927\u985e\u80a1\u71df\u6536\u8b8a\u5316\u7d71\u8a08\u8868","description":"\u4e8c\u5341\u4e5d\u5927\u985e\u80a1\u71df\u6536\u8b8a\u5316\u7d71\u8a08\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap05_OA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap05_OA"}}}}}}},"/mopsfin_t187ap05_OB":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u767c\u884c\u516c\u53f8\u71df\u6536\u5275\u65b0\u9ad8\u4e00\u89bd\u8868(\u4e0a\u6ac3)","description":"\u767c\u884c\u516c\u53f8\u71df\u6536\u5275\u65b0\u9ad8\u4e00\u89bd\u8868(\u4e0a\u6ac3)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap05_OB"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap05_OB"}}}}}}},"/BDdos216UTF":{"get":{"tags":["\u50b5\u5238"],"summary":"\u7f8e\u5143\u56fa\u5b9a\u5229\u7387\u4e0d\u53ef\u8d16\u56de\u570b\u969b\u50b5\u5238\u7406\u8ad6\u50f9\u683c","description":"\u7f8e\u5143\u56fa\u5b9a\u5229\u7387\u4e0d\u53ef\u8d16\u56de\u570b\u969b\u50b5\u5238\u7406\u8ad6\u50f9\u683c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BDdos216UTF"}},"text/csv":{"schema":{"$ref":"#/components/schemas/BDdos216UTF"}}}}}}},"/BDdos215UTF":{"get":{"tags":["\u50b5\u5238"],"summary":"\u7f8e\u5143\u9644\u606f\u56fa\u5b9a\u5229\u7387\u53ef\u8d16\u56de\u570b\u969b\u50b5\u5238\u7406\u8ad6\u50f9\u683c","description":"\u7f8e\u5143\u9644\u606f\u56fa\u5b9a\u5229\u7387\u53ef\u8d16\u56de\u570b\u969b\u50b5\u5238\u7406\u8ad6\u50f9\u683c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BDdos215UTF"}},"text/csv":{"schema":{"$ref":"#/components/schemas/BDdos215UTF"}}}}}}},"/BDdos209UTF":{"get":{"tags":["\u50b5\u5238"],"summary":"\u7f8e\u5143\u96f6\u606f\u53ef\u8d16\u56de\u570b\u969b\u50b5\u5238\u7406\u8ad6\u50f9\u683c","description":"\u7f8e\u5143\u96f6\u606f\u53ef\u8d16\u56de\u570b\u969b\u50b5\u5238\u7406\u8ad6\u50f9\u683c","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BDdos209UTF"}},"text/csv":{"schema":{"$ref":"#/components/schemas/BDdos209UTF"}}}}}}},"/tpex_gisa_financing_history":{"get":{"tags":["\u5275\u6ac3"],"summary":"\u5275\u6ac3\u677f\u516c\u53f8\u900f\u904e\u7c4c\u8cc7\u7cfb\u7d71\u8fa6\u7406\u7c4c\u8cc7\u8cc7\u8a0a","description":"\u5275\u6ac3\u677f\u516c\u53f8\u900f\u904e\u7c4c\u8cc7\u7cfb\u7d71\u8fa6\u7406\u7c4c\u8cc7\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_gisa_financing_history"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_gisa_financing_history"}}}}}}},"/mopsfin_t187ap35_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u80a1\u6771\u884c\u4f7f\u63d0\u6848\u6b0a\u60c5\u5f62\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u80a1\u6771\u884c\u4f7f\u63d0\u6848\u6b0a\u60c5\u5f62\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap35_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap35_O"}}}}}}},"/mopsfin_t187ap37_O":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u6b0a\u8b49\u57fa\u672c\u8cc7\u6599\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u6b0a\u8b49\u57fa\u672c\u8cc7\u6599\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap37_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap37_O"}}}}}}},"/mopsfin_t187ap42_O":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u8a8d\u8cfc(\u552e)\u6b0a\u8b49\u6bcf\u65e5\u6210\u4ea4\u8cc7\u6599\u6a94","description":"\u4e0a\u6ac3\u8a8d\u8cfc(\u552e)\u6b0a\u8b49\u6bcf\u65e5\u6210\u4ea4\u8cc7\u6599\u6a94","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap42_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap42_O"}}}}}}},"/mopsfin_t187ap32_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u516c\u53f8\u6cbb\u7406\u4e4b\u76f8\u95dc\u898f\u7a0b\u898f\u5247","description":"\u4e0a\u6ac3\u516c\u53f8\u516c\u53f8\u6cbb\u7406\u4e4b\u76f8\u95dc\u898f\u7a0b\u898f\u5247","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap32_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap32_O"}}}}}}},"/mopsfin_t187ap34_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u63a1\u7d2f\u7a4d\u6295\u7968\u5236\u3001\u5168\u984d\u9023\u8a18\u6cd5\u3001\u5019\u9078\u4eba\u63d0\u540d\u5236\u9078\u4efb\u8463\u76e3\u4e8b\u53ca\u7576\u9078\u8cc7\u6599\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u63a1\u7d2f\u7a4d\u6295\u7968\u5236\u3001\u5168\u984d\u9023\u8a18\u6cd5\u3001\u5019\u9078\u4eba\u63d0\u540d\u5236\u9078\u4efb\u8463\u76e3\u4e8b\u53ca\u7576\u9078\u8cc7\u6599\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap34_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap34_O"}}}}}}},"/mopsfin_t187ap33_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u9577\u662f\u5426\u517c\u4efb\u7e3d\u7d93\u7406","description":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u9577\u662f\u5426\u517c\u4efb\u7e3d\u7d93\u7406","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap33_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap33_O"}}}}}}},"/mopsfin_t187ap31_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u52d9\u5831\u544a\u7d93\u76e3\u5bdf\u4eba\u627f\u8a8d\u60c5\u5f62","description":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u52d9\u5831\u544a\u7d93\u76e3\u5bdf\u4eba\u627f\u8a8d\u60c5\u5f62","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap31_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap31_O"}}}}}}},"/mopsfin_t187ap09_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u3001\u76e3\u5bdf\u4eba\u8cea\u6b0a\u8a2d\u5b9a\u5360\u8463\u4e8b\u53ca\u76e3\u5bdf\u4eba\u5be6\u969b\u6301\u6709\u80a1\u6578\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u3001\u76e3\u5bdf\u4eba\u8cea\u6b0a\u8a2d\u5b9a\u5360\u8463\u4e8b\u53ca\u76e3\u5bdf\u4eba\u5be6\u969b\u6301\u6709\u80a1\u6578\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap09_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap09_O"}}}}}}},"/mopsfin_t187ap10_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u3001\u76e3\u5bdf\u4eba\u6301\u80a1\u4e0d\u8db3\u6cd5\u5b9a\u6210\u6578\u9023\u7e8c\u90543\u500b\u6708\u4ee5\u4e0a\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u3001\u76e3\u5bdf\u4eba\u6301\u80a1\u4e0d\u8db3\u6cd5\u5b9a\u6210\u6578\u9023\u7e8c\u90543\u500b\u6708\u4ee5\u4e0a\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap10_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap10_O"}}}}}}},"/mopsfin_t187ap24_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d93\u71df\u6b0a\u53ca\u71df\u696d\u7bc4\u570d\u7570(\u8b8a)\u52d5\u5c08\u5340-\u7d93\u71df\u6b0a\u7570\u52d5\u516c\u53f8","description":"\u4e0a\u6ac3\u516c\u53f8\u7d93\u71df\u6b0a\u53ca\u71df\u696d\u7bc4\u570d\u7570(\u8b8a)\u52d5\u5c08\u5340-\u7d93\u71df\u6b0a\u7570\u52d5\u516c\u53f8","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap24_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap24_O"}}}}}}},"/mopsfin_t187ap25_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d93\u71df\u6b0a\u53ca\u71df\u696d\u7bc4\u570d\u7570(\u8b8a)\u52d5\u5c08\u5340-\u71df\u696d\u7bc4\u570d\u91cd\u5927\u8b8a\u66f4\u516c\u53f8","description":"\u4e0a\u6ac3\u516c\u53f8\u7d93\u71df\u6b0a\u53ca\u71df\u696d\u7bc4\u570d\u7570(\u8b8a)\u52d5\u5c08\u5340-\u71df\u696d\u7bc4\u570d\u91cd\u5927\u8b8a\u66f4\u516c\u53f8","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap25_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap25_O"}}}}}}},"/tpex_gisa_financing_in_process":{"get":{"tags":["\u5275\u6ac3"],"summary":"\u5275\u6ac3\u677f\u8fa6\u7406\u4e2d\u7c4c\u8cc7\u8cc7\u8a0a","description":"\u5275\u6ac3\u677f\u8fa6\u7406\u4e2d\u7c4c\u8cc7\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_gisa_financing_in_process"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_gisa_financing_in_process"}}}}}}},"/mopsfin_t187ap03_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u57fa\u672c\u8cc7\u6599","description":"\u4e0a\u6ac3\u80a1\u7968\u57fa\u672c\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap03_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap03_O"}}}}}}},"/tpex_3insti_qfii_trading":{"get":{"tags":["\u4e0a\u6ac3"],"summary":"\u4e0a\u6ac3\u80a1\u7968\u5916\u8cc7\u53ca\u9678\u8cc7\u8cb7\u8ce3\u8d85\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u80a1\u7968\u5916\u8cc7\u53ca\u9678\u8cc7\u8cb7\u8ce3\u8d85\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_3insti_qfii_trading"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_3insti_qfii_trading"}}}}}}},"/tpex_esb_latest_statistics":{"get":{"tags":["\u8208\u6ac3"],"summary":"\u8208\u6ac3\u80a1\u7968\u7576\u65e5\u884c\u60c5\u8868","description":"\u8208\u6ac3\u80a1\u7968\u7576\u65e5\u884c\u60c5\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tpex_esb_latest_statistics"}},"text/csv":{"schema":{"$ref":"#/components/schemas/tpex_esb_latest_statistics"}}}}}}},"/mopsfin_t187ap36_O":{"get":{"tags":["\u6b0a\u8b49"],"summary":"\u4e0a\u6ac3\u8a8d\u8cfc(\u552e)\u6b0a\u8b49\u5e74\u5ea6\u767c\u884c\u91cf\u6982\u6cc1\u7d71\u8a08\u8868","description":"\u4e0a\u6ac3\u8a8d\u8cfc(\u552e)\u6b0a\u8b49\u5e74\u5ea6\u767c\u884c\u91cf\u6982\u6cc1\u7d71\u8a08\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap36_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap36_O"}}}}}}},"/mopsfin_t187ap03_R":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u8208\u6ac3\u516c\u53f8\u57fa\u672c\u8cc7\u6599","description":"\u8208\u6ac3\u516c\u53f8\u57fa\u672c\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap03_R"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap03_R"}}}}}}},"/mopsfin_t187ap04_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u6bcf\u65e5\u91cd\u5927\u8a0a\u606f","description":"\u4e0a\u6ac3\u516c\u53f8\u6bcf\u65e5\u91cd\u5927\u8a0a\u606f","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap04_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap04_O"}}}}}}},"/mopsfin_t187ap01":{"get":{"tags":["\u5238\u5546\u8cc7\u6599"],"summary":"\u5238\u5546\u696d\u52d9\u5225\u4eba\u54e1\u6578","description":"\u5238\u5546\u696d\u52d9\u5225\u4eba\u54e1\u6578","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap01"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap01"}}}}}}},"/mopsfin_t187ap02_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u6301\u80a1\u903e 10% \u5927\u80a1\u6771\u540d\u55ae","description":"\u4e0a\u6ac3\u516c\u53f8\u6301\u80a1\u903e 10% \u5927\u80a1\u6771\u540d\u55ae","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap02_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap02_O"}}}}}}},"/mopsfin_t187ap26_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d93\u71df\u6b0a\u53ca\u71df\u696d\u7bc4\u570d\u7570(\u8b8a)\u52d5\u5c08\u5340-\u7d93\u71df\u6b0a\u7570\u52d5\u4e14\u71df\u696d\u7bc4\u570d\u91cd\u5927\u8b8a\u66f4\u505c\u6b62\u8cb7\u8ce3\u516c\u53f8","description":"\u4e0a\u6ac3\u516c\u53f8\u7d93\u71df\u6b0a\u53ca\u71df\u696d\u7bc4\u570d\u7570(\u8b8a)\u52d5\u5c08\u5340-\u7d93\u71df\u6b0a\u7570\u52d5\u4e14\u71df\u696d\u7bc4\u570d\u91cd\u5927\u8b8a\u66f4\u505c\u6b62\u8cb7\u8ce3\u516c\u53f8","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap26_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap26_O"}}}}}}},"/mopsfin_t187ap27_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d93\u71df\u6b0a\u53ca\u71df\u696d\u7bc4\u570d\u7570(\u8b8a)\u52d5\u5c08\u5340-\u7d93\u71df\u6b0a\u7570\u52d5\u4e14\u71df\u696d\u7bc4\u570d\u91cd\u5927\u8b8a\u66f4\u5217\u70ba\u8b8a\u66f4\u4ea4\u6613\u516c\u53f8","description":"\u4e0a\u6ac3\u516c\u53f8\u7d93\u71df\u6b0a\u53ca\u71df\u696d\u7bc4\u570d\u7570(\u8b8a)\u52d5\u5c08\u5340-\u7d93\u71df\u6b0a\u7570\u52d5\u4e14\u71df\u696d\u7bc4\u570d\u91cd\u5927\u8b8a\u66f4\u5217\u70ba\u8b8a\u66f4\u4ea4\u6613\u516c\u53f8","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap27_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap27_O"}}}}}}},"/mopsfin_t187ap05_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u6bcf\u6708\u71df\u696d\u6536\u5165\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u6bcf\u6708\u71df\u696d\u6536\u5165\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap05_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap05_O"}}}}}}},"/mopsfin_t187ap39_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u80a1\u5229\u5206\u6d3e\u60c5\u5f62-\u8463\u4e8b\u6703\u901a\u904e","description":"\u4e0a\u6ac3\u80a1\u5229\u5206\u6d3e\u60c5\u5f62-\u8463\u4e8b\u6703\u901a\u904e","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap39_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap39_O"}}}}}}},"/bond_cb_daily":{"get":{"tags":["\u50b5\u5238"],"summary":"\u8f49(\u4ea4)\u63db\u516c\u53f8\u50b5\u8cb7\u8ce3\u65b7\u5238\u5546\u8cb7\u8ce3\u65e5\u5831\u8868","description":"\u8f49(\u4ea4)\u63db\u516c\u53f8\u50b5\u8cb7\u8ce3\u65b7\u5238\u5546\u8cb7\u8ce3\u65e5\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/bond_cb_daily"}},"text/csv":{"schema":{"$ref":"#/components/schemas/bond_cb_daily"}}}}}}},"/mopsfin_t187ap07_O_basi":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u91d1\u878d\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u91d1\u878d\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_basi"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_basi"}}}}}}},"/mopsfin_t187ap07_O_bd":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u8b49\u5238\u671f\u8ca8\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u8b49\u5238\u671f\u8ca8\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_bd"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_bd"}}}}}}},"/mopsfin_t187ap07_O_ci":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u4e00\u822c\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u4e00\u822c\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_ci"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_ci"}}}}}}},"/mopsfin_t187ap07_O_fh":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u91d1\u63a7\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u91d1\u63a7\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_fh"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_fh"}}}}}}},"/mopsfin_t187ap07_O_ins":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u4fdd\u96aa\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u4fdd\u96aa\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_insA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_insA"}}}}}}},"/mopsfin_t187ap07_O_mim":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u7570\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868(\u7570\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_mimA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_O_mimA"}}}}}}},"/mopsfin_t187ap06_O_basi":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u91d1\u878d\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u91d1\u878d\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_basi"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_basi"}}}}}}},"/mopsfin_t187ap06_O_bd":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u8b49\u5238\u671f\u8ca8\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u8b49\u5238\u671f\u8ca8\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_bd"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_bd"}}}}}}},"/mopsfin_t187ap06_O_ci":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u4e00\u822c\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u4e00\u822c\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_ci"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_ci"}}}}}}},"/mopsfin_t187ap06_O_fh":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u91d1\u63a7\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u91d1\u63a7\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_fh"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_fh"}}}}}}},"/mopsfin_t187ap06_O_ins":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u4fdd\u96aa\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u4fdd\u96aa\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_ins"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_ins"}}}}}}},"/mopsfin_t187ap06_O_mim":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u7570\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868(\u7570\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_mim"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_mim"}}}}}}},"/mopsfin_t187ap06_O_basiA":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u91d1\u878d\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u91d1\u878d\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_basiA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_basiA"}}}}}}},"/mopsfin_t187ap06_O_bdA":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u8b49\u5238\u671f\u8ca8\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u8b49\u5238\u671f\u8ca8\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_bdA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_bdA"}}}}}}},"/mopsfin_t187ap06_O_ciA":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a( \u4e00\u822c\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a( \u4e00\u822c\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_ciA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_ciA"}}}}}}},"/mopsfin_t187ap06_O_fhA":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u91d1\u63a7\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u91d1\u63a7\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_fhA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_fhA"}}}}}}},"/mopsfin_t187ap06_O_insA":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u4fdd\u96aa\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u4fdd\u96aa\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_insA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_insA"}}}}}}},"/mopsfin_t187ap06_O_mimA":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u7570\u696d)","description":"\u4e0a\u6ac3\u516c\u53f8\u8ca1\u5831\u8cc7\u8a0a(\u7570\u696d)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_mimA"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_O_mimA"}}}}}}},"/mopsfin_t187ap07_U_bd":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u8b49\u5238\u671f\u8ca8\u696d","description":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u8b49\u5238\u671f\u8ca8\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_bd"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_bd"}}}}}}},"/mopsfin_t187ap07_U_ci":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u4e00\u822c\u696d","description":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u4e00\u822c\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_ci"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_ci"}}}}}}},"/mopsfin_t187ap07_U_fh":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u91d1\u63a7\u696d","description":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u91d1\u63a7\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_fh"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_fh"}}}}}}},"/mopsfin_t187ap07_U_ins":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u4fdd\u96aa\u696d","description":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u4fdd\u96aa\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_ins"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_ins"}}}}}}},"/mopsfin_t187ap07_U_mim":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u7570\u696d","description":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u7570\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_mim"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_mim"}}}}}}},"/mopsfin_t187ap06_U_basi":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u91d1\u878d\u696d","description":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u91d1\u878d\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_basi"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_basi"}}}}}}},"/mopsfin_t187ap06_U_bd":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u8b49\u5238\u671f\u8ca8\u696d","description":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u8b49\u5238\u671f\u8ca8\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_bd"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_bd"}}}}}}},"/mopsfin_t187ap06_U_ci":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u4e00\u822c\u696d","description":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u4e00\u822c\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_ci"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_ci"}}}}}}},"/mopsfin_t187ap06_U_fh":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u91d1\u63a7\u696d","description":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u91d1\u63a7\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_fh"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_fh"}}}}}}},"/mopsfin_t187ap06_U_ins":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u4fdd\u96aa\u696d","description":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u4fdd\u96aa\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_ins"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_ins"}}}}}}},"/mopsfin_t187ap06_U_mim":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u7570\u696d","description":"\u8208\u6ac3\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u7570\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_mim"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap06_U_mim"}}}}}}},"/mopsfin_t187ap07_U_basi":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u91d1\u878d\u696d","description":"\u8208\u6ac3\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u91d1\u878d\u696d","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_basi"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap07_U_basi"}}}}}}},"/mopsfin_t187ap11_R":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u8208\u6ac3\u516c\u53f8\u8463\u76e3\u4e8b\u6301\u80a1\u9918\u984d\u660e\u7d30\u8cc7\u6599","description":"\u8208\u6ac3\u516c\u53f8\u8463\u76e3\u4e8b\u6301\u80a1\u9918\u984d\u660e\u7d30\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap11_R"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap11_R"}}}}}}},"/mopsfin_t187ap14_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u5404\u7522\u696dEPS\u7d71\u8a08\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u516c\u53f8\u5404\u7522\u696dEPS\u7d71\u8a08\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap14_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap14_O"}}}}}}},"/mopsfin_t187ap15_O":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u622a\u81f3\u5404\u5b63\u7d9c\u5408\u640d\u76ca\u8ca1\u6e2c\u9054\u6210\u60c5\u5f62(\u7c21\u5f0f)","description":"\u4e0a\u6ac3\u516c\u53f8\u622a\u81f3\u5404\u5b63\u7d9c\u5408\u640d\u76ca\u8ca1\u6e2c\u9054\u6210\u60c5\u5f62(\u7c21\u5f0f)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap15_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap15_O"}}}}}}},"/mopsfin_t187ap16_O":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7576\u5b63\u7d9c\u5408\u640d\u76ca\u7d93\u6703\u8a08\u5e2b\u67e5\u6838(\u6838\u95b1)\u6578\u8207\u7576\u5b63\u9810\u6e2c\u6578\u5dee\u7570\u9054\u767e\u5206\u4e4b\u5341\u4ee5\u4e0a\u8005\uff0c\u6216\u622a\u81f3\u7576\u5b63\u7d2f\u8a08\u5dee\u7570\u9054\u767e\u5206\u4e4b\u4e8c\u5341\u4ee5\u4e0a\u8005(\u7c21\u5f0f)","description":"\u4e0a\u6ac3\u516c\u53f8\u7576\u5b63\u7d9c\u5408\u640d\u76ca\u7d93\u6703\u8a08\u5e2b\u67e5\u6838(\u6838\u95b1)\u6578\u8207\u7576\u5b63\u9810\u6e2c\u6578\u5dee\u7570\u9054\u767e\u5206\u4e4b\u5341\u4ee5\u4e0a\u8005\uff0c\u6216\u622a\u81f3\u7576\u5b63\u7d2f\u8a08\u5dee\u7570\u9054\u767e\u5206\u4e4b\u4e8c\u5341\u4ee5\u4e0a\u8005(\u7c21\u5f0f)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap16_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap16_O"}}}}}}},"/mopsfin_187ap17_O":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u71df\u76ca\u5206\u6790\u67e5\u8a62\u5f59\u7e3d\u8868(\u5168\u9ad4\u516c\u53f8\u5f59\u7e3d\u5831\u8868)","description":"\u4e0a\u6ac3\u516c\u53f8\u71df\u76ca\u5206\u6790\u67e5\u8a62\u5f59\u7e3d\u8868(\u5168\u9ad4\u516c\u53f8\u5f59\u7e3d\u5831\u8868)","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_187ap17_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_187ap17_O"}}}}}}},"/mopsfin_t187ap08_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u3001\u76e3\u5bdf\u4eba\u6301\u80a1\u4e0d\u8db3\u6cd5\u5b9a\u6210\u6578\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u3001\u76e3\u5bdf\u4eba\u6301\u80a1\u4e0d\u8db3\u6cd5\u5b9a\u6210\u6578\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap08_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap08_O"}}}}}}},"/mopsfin_t187ap11_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8463\u76e3\u4e8b\u6301\u80a1\u9918\u984d\u660e\u7d30\u8cc7\u6599","description":"\u4e0a\u6ac3\u516c\u53f8\u8463\u76e3\u4e8b\u6301\u80a1\u9918\u984d\u660e\u7d30\u8cc7\u6599","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap11_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap11_O"}}}}}}},"/mopsfin_t187ap12_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u6bcf\u65e5\u5167\u90e8\u4eba\u6301\u80a1\u8f49\u8b93\u4e8b\u524d\u7533\u5831\u8868-\u6301\u80a1\u8f49\u8b93\u65e5\u5831\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u6bcf\u65e5\u5167\u90e8\u4eba\u6301\u80a1\u8f49\u8b93\u4e8b\u524d\u7533\u5831\u8868-\u6301\u80a1\u8f49\u8b93\u65e5\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap12_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap12_O"}}}}}}},"/mopsfin_t187ap13_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u6bcf\u65e5\u5167\u90e8\u4eba\u6301\u80a1\u8f49\u8b93\u4e8b\u524d\u7533\u5831\u8868-\u6301\u80a1\u672a\u8f49\u8b93\u65e5\u5831\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u6bcf\u65e5\u5167\u90e8\u4eba\u6301\u80a1\u8f49\u8b93\u4e8b\u524d\u7533\u5831\u8868-\u6301\u80a1\u672a\u8f49\u8b93\u65e5\u5831\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap13_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap13_O"}}}}}}},"/mopsfin_t187ap22_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u91d1\u7ba1\u6703\u8b49\u5238\u671f\u8ca8\u5c40\u88c1\u7f70\u6848\u4ef6\u5c08\u5340","description":"\u4e0a\u6ac3\u516c\u53f8\u91d1\u7ba1\u6703\u8b49\u5238\u671f\u8ca8\u5c40\u88c1\u7f70\u6848\u4ef6\u5c08\u5340","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap22_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap22_O"}}}}}}},"/mopsfin_t187ap30_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u7368\u7acb\u8463\u76e3\u4e8b\u517c\u4efb\u60c5\u5f62\u5f59\u7e3d\u8868","description":"\u4e0a\u6ac3\u516c\u53f8\u7368\u7acb\u8463\u76e3\u4e8b\u517c\u4efb\u60c5\u5f62\u5f59\u7e3d\u8868","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap30_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap30_O"}}}}}}},"/mopsfin_t187ap29_A_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u916c\u91d1\u76f8\u95dc\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u516c\u53f8\u8463\u4e8b\u916c\u91d1\u76f8\u95dc\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap29_A_O"}},"text/csv":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap29_A_O"}}}}}}},"/mopsfin_t187ap29_B_O":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u6ac3\u516c\u53f8\u76e3\u5bdf\u4eba\u916c\u91d1\u76f8\u95dc\u8cc7\u8a0a","description":"\u4e0a\u6ac3\u516c\u53f8\u76e3\u5bdf\u4eba\u916c\u91d1\u76f8\u95dc\u8cc7\u8a0a","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/mopsfin_t187ap29_B_O"}},"text/cs
[...]
